
.AboutUs img{
    max-width: 100%;
}
.AboutUs p span{
    color: #Ba8914;
    font-size: 19px;
    font-family: 'Kite One', sans-serif;
}
.AboutUs p{
    font-size: 15px;
}
@media(min-width: 1000px){
    .AboutUs img{
       max-width:  38vw;
       object-fit: cover;
       /* height: min-content; */
       /* height: 80%; */
    }
    .AboutUs{
       display: flex;
       align-items: center;

    }
    .AboutUs p{
        margin: 0 10%;
       text-align: left;
       font-size: 18px;

    }
}