.h1{
    font-family: 'IBM Plex Serif','Heebo', sans-serif;
    font-size: 30px !important;
}
.header{
    background-color: #fff;
    color: #ba8914;
}
@media(min-width: 600px){
    .h1{
        font-size: 60px !important;
        padding-top: 3%;
    }
    .header{
        /* height: calc(50vh - 56px); */

    }
}